/*
  Yuriy Kashnikov: http://kayuri.github.com
*/

h1
{
    font-size:16pt;
}

h2
{
    font-size:14pt;
}

body
{
    font-family: Arial, Geneva, Helvetica;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:100px;
    margin-left:100px;
    font-size:10pt;
}

li
{
    margin-top:10px;
}

/* Style for contacts */
#xcontacts a
{
    font-size:10pt;
}